.egovCasesTable {
	width: 100%;
}

.egovCasesTable thead tr th {
	text-align: left;
	padding: 5px 8px !important;
	border-top: 1px #d7d7d7 solid;
	background-color: #efefef;
	margin: 0 !important;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.egovCasesTable tbody tr td {
	text-align: left;
	padding: 5px 8px !important;
	border-top: 1px #d7d7d7 solid;
	margin: 0 !important;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.tableHeaderCell {
	cursor: pointer;
}

.casesSearchButtonsContainerStyle {
	float: right;
}

.textInputForCasesSearchStyleClass {
	width: 100%;
}

.casesSearchTableStyle {
	width: 98%;
}

tr.hide {
	display: none;
}

.formItem {
	overflow: hidden;
	margin-bottom: 8px;
}

.caseOverviewLabel {
	float: left;
	width: 140px;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Geneva, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight: bold;
}

.caseOverviewValue {
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	float: left;
}

.casesListViewerTableRowCellStyle {
	cursor: pointer;
}

form#casesform .ws_main {
	border: 1px #d7d7d7 solid;
	top: 85px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	padding: 15px;
	background-color: #fff;
	overflow: auto;
}

table#casesform_tabsPanel {
	width: 100%;
}

.myFaces_panelTabbedPane_pane {
	padding: 0 !important;
}

div#tabsContainer {
	width: 100%;
}

.selectCaseTypeLabelStyle {
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	margin: 0;
	line-height: 20px;
	display: block;
	float: left;
	margin-right: 8px;
}

.casesTypeSelectorStyle {
	margin: 0 !important;
	margin-bottom: 18px !important;
}

div#buttonsContainer {
	margin-top: 18px;
}

div#buttonsContainer input {
	margin: 0;
	margin-right: 8px;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Geneva, Arial, Helvetica, sans-serif;
	padding: 3px 5px;
}

.myFaces_panelTabbedPane_subHeaderCell  {
	height: 1px !important;
	padding: 0 !important;

}

.myFaces_panelTabbedPane_activeHeaderCell{
	border: 1px #d7d7d7 solid;
	border-bottom: 0;
	text-align: center;
}

.myFaces_panelTabbedPane_inactiveHeaderCell, .myFaces_panelTabbedPane_disabledHeaderCell{
	border: 1px #d7d7d7 solid;
	border-bottom: 0;
	text-align: center;
	background-color: silver;
	margin-left: 2px !important;
}

.myFaces_panelTabbedPane_activeHeaderCell input, .myFaces_panelTabbedPane_inactiveHeaderCell input, .myFaces_panelTabbedPane_disabledHeaderCell input {
	border: 0;
	width: auto;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Geneva, Arial, Helvetica, sans-serif;
}

.myFaces_panelTabbedPane_activeHeaderCell input {
	font-weight: bold;
}

.myFaces_panelTabbedPane_pane{
	border: 1px #d7d7d7 solid;
	border-top: 0;
	padding: 10px;
}

.myFaces_panelTabbedPane_subHeaderCell_active{
	border-top: 0px none;
}

.myFaces_panelTabbedPane_subHeaderCell_inactive{
	border-top: 1px #d7d7d7 solid;
}

.myFaces_panelTabbedPane_subHeaderCell_first{
	border-left: 1px #d7d7d7 solid;
}

.myFaces_panelTabbedPane_subHeaderCell_last{
	border-top: 1px #d7d7d7 solid;
	border-right: 1px #d7d7d7 solid;
}

#caseOverviewContainer {
	margin: 0 !important;
	border-top: 1px #d7d7d7 solid;
	margin-top: 18px !important;
}

#caseOverviewContainer h1 {
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Geneva, Arial, Helvetica, sans-serif;
}