/* CSS Document */

body.messageViewerWindow {
	padding: 0;
	margin: 0;
}

table.caseTable tbody tr td, table.caseTable thead tr th {
	font-size: 11px;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	padding: 5px 8px;
	empty-cells: show;
	color: #303030;
}

table.caseTable td a, th a {
	color: #303030;
	text-decoration: none;
}

table.caseTable td a, table.caseTable td a:hover {
	font-size: 11px;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

table.caseTable td a:hover, th a:hover {
	text-decoration: underline;
}

table.caseTable thead tr {
	background-color: #E8E8E8;
	text-align: left;
}

table.caseTable thead tr th {
	border-top: 1px #CCCCCC solid;
}

table.caseTable tbody tr {
	background-color: #FFFFFF;
	text-align: left;
}

table.caseTable tBody tr td {
	border-top: 1px #D5D5D5 solid;
}

table.caseTable tBody tr.oddRow {
	background-color: #FFFFFF;
}

table.caseTable tBody tr.evenRow {
	background-color: #FFFFFF;
}

table.caseTable tBody tr.newEntry {
	font-weight: bold;
}

table.caseTable th.firstColumn, td.firstColumn {
	padding-left: 17px;
}

table.caseTable th.lastColumn, td.lastColumn {
	padding-right: 17px;
}

table.caseTable .messageDelete {
	width: 11px;
}

table.caseTable .casesCount, .messageCount {
	width: 20px;
	text-align: center;
}

table.caseTable img {
	border: 0;
}

table.caseTable .casesEdit {
	text-align: right;
	padding-right: 17px;
}

table.caseTable .caseEdit, .caseDelete {
	padding-left: 3px;
}

div.caseHeader {
	min-height: 40px;
	border: 1px #FEEBA3 solid;
	border-bottom: 0;
	background: url(/n24/idegaweb/bundles/com.idega.block.process.bundle/resources/head-tiler.gif) repeat-x;
}

div.caseHeading {
	position: relative;
	top: 18px;
	left: 16px;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #303030;
	text-shadow: #FFFFFF 2px 2px 1px;
	width: 100px;
}

div.caseNavigation {
	position: relative;
	float: right;
	top: 14px;
	padding-right: 15px;
}

div.caseNavigation ul {
	list-style-type: none;
	clear: none;
	margin: 0;
	padding: 0 14px 0 0;
	float: left;
	font-weight: bold;
	font-size: 11px;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #303030;
}

div.caseNavigation select {
	font-size: 9px;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

div.caseNavigation ul li {
	display: inline;
	padding-left: 4px;
}

div.caseNavigation ul li a {
	font-size: 11px;
	color: #303030;
	text-decoration: underline;
}

div.caseNavigation ul li a:hover {
	color: #303030;
	text-decoration: underline;
}

div.caseNavigation ul li a.currentPage {
	text-decoration: none;
	font-weight: normal;
}

div.caseNavigation ul li a.currentPage:hover {
	text-decoration: underline;
}

input.checkbox {
	width: 11px;
	height: 11px;
	padding: 0;
	margin: 0;
	font-size: 8px;
}

input.button {
	border: 1px #CCCCCC solid;
	font-size: 9px;
	text-transform: uppercase;
}

table.caseTable tBody tr.ruled{
	background: #FEF9E6;
}

div.caseFooter {
	padding-top: 12px;
	padding-right: 15px;
	text-align: right;
}

div.caseFooter input {
	font-size: 8px;
}

div.messageDiv {
	margin-top: 10px;
}

div.messageItem {
	clear: left;
	font-size: 11px;
	margin-bottom: 3px;
}

div.messageItem h1 {
	float: left;
	margin: 0;
	font-size: 11px;
	width: 70px;
	text-align: right;
	padding-right: 10px;
}

div.messageSubjectHeading {
	display: none;
}

div#messageBody h1 {
	display: none;
}

div#messageBody {
	margin-top: 6px;
	padding: 8px;
	border-top: 1px #CCCCCC solid;
}

div.buttonLayer {
	clear: both;
	margin: 20px 12px 12px 0;
	text-align: right;
}

body.messageViewerWindow div.buttonLayer {
	position: absolute;
	bottom: 0px;
	right: 0px;
}

body.Process .ws_main {
	top: 85px !important;
	left: 5px !important;
	right: 5px !important;
	bottom: 5px !important;
	border: 1px #d7d7d7 solid;
	background-color: #fff;
	padding: 15px;
}